<%- include('partials/header') %>

<main class="container mx-auto mt-10 p-5">
  <h2 class="text-3xl font-bold mb-5">Login</h2>
  <form action="/api/login" method="POST" class="space-y-4">
    <div class="form-control">
      <label for="username" class="label">
        <span class="label-text">Username:</span>
      </label>
      <input
        type="text"
        id="username"
        name="username"
        class="input input-bordered"
        required
      />
    </div>
    <div class="form-control">
      <label for="password" class="label">
        <span class="label-text">Password:</span>
      </label>
      <input
        type="password"
        id="password"
        name="password"
        class="input input-bordered"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</main>

<%- include('partials/footer') %>
